DECLARAR VARIABLES:

In [ ]:
i = 10
f = 3.7
s = "Ernesto"

In [ ]:
print("Integer = ",i)
print("Flotante = ",f)
print("String = ",s)

Integer =  10
Flotante =  3.7
String =  Ernesto

Ciclo Repetitivo

In [ ]:
for i in range(1, 7):
  print("Linea ", i)

Linea  1
Linea  2
Linea  3
Linea  4
Linea  5
Linea  6

Lista

In [ ]:
lista = []
for i in range(10):
  lista.append(i)
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Funcion

In [ ]:
def function(n):
  return 2*n

print("Resultado de la funcion: ", function(7))

Resultado de la funcion:  14

In [ ]:
lineal
lineal
cuadratica